# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Output praktikum (silakan commit hasil akhir bila diminta)
outputs/*
!outputs/.gitkeep

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
